body {
    color: white;
    font-size: 20px;
    background-color: #00004d;
    margin-top: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}

#logo {
    text-align: center;
}

#logo img {
    max-width: 90%;
    filter: hue-rotate(138deg) 
    drop-shadow(2px 4px 3px #ffffff21) drop-shadow(-2px 4px 3px #ffffff21) 
    drop-shadow(2px -4px 3px #ffffff21) drop-shadow(-2px -4px 3px #ffffff21);
}

.font-400 {
    font-weight: 400;
}

.scoreHolder {
    text-align: center;
    width: 48%;
    display: inline-block;
}

.scoreSize {
    font-size: 50px;
}

#gameScore {
    margin: auto;
    width: 80%;
    padding-top: 20px;
    border-radius: 15px;
    border: 2px solid #e8e8e8;
    background-image: linear-gradient(#7d6eff 60%, #b4acff);
    box-shadow: 5px 5px 8px #00000052, -5px 5px 8px #00000052, 5px -5px 8px #00000052, -5px -5px 8px #00000052;
    position: relative;
}

#help {
    position: absolute;
    right: 7px;
    bottom: 2px;
    font-size: 50px;
    color: #827ea3;
}

#winMessage {
    color: #b6e88d;
}

#lossMessage {
    color: #e88d8d;
}

.crystalButton {
    background: none;
    border: none;
    filter: drop-shadow(2px 4px 6px black);
}

.crystalButton:hover {
    filter: brightness(1.8) drop-shadow(2px 4px 6px black);
}

.crystalButton:focus {
    outline: none;
}

.row {
    margin-top: 50px;
}

#scoreboard {
    margin: auto;
    width: 40%;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #e8e8e8;
    background-image: linear-gradient(#00b2ff 60%, #72d1fa);
    box-shadow: 5px 5px 8px #00000052, -5px 5px 8px #00000052, 5px -5px 8px #00000052, -5px -5px 8px #00000052;
}

.popover {
    color: black;
    background-color: #ffe2fe;
}

.popover-header {
    color: white;
    background-color: #7d6eff;
    border-bottom: 1px solid #432efa;
}